$header-background-color: #F3F2F7    // background gris del header
$choose-profile-color: #A3A3A3       // color gris para la frase "Elige un perfil"
$choose-profile-border: #EBEBEB      // color gris para el borde inferior de la frase
$profile-name: #BFDF8D               // color verde de tipo de perfil
$profile-name-background: RGBA(249, 249, 249, 0.5)    // color gris de background para tipo de perfil
$menu-separator: #BDDC8C                    // color de separador entre iconos y menu
$header-title: #2F730D                             // color de link en el header
$footer-background-links: #1D1D1D    // background gris oscuro
$footer-background-social: #96CC42  // background verde
$text-active: #2D730B                              // texto verde
$text-normal: #616161                            // texto gris
$titles: #D63234                                        // titulos rojos
$horizontal-rule: #959595                     // color para el hr del footer
$input-background: #E5E5E5                // background para los input
$submit-border: #F70017                      // color rojo de borde para botón submit
$submit-background-active:#AC0003
$submit-background-hover: #FA0007
$white-color: #FFF                                   // color blanco