$header-background-color: #F3F2F7    // background gris del header
$menu-separator: #BDDC8C                    // color de separador entre iconos y menu
$header-title: #2F730D                             // color de link en el header
$footer-background-links: #1D1D1D    // background gris oscuro
$footer-background-social: #96CC42  // background verde
$text-active: #2D730B                              // texto verde
$text-normal: #616161                            // texto gris
$titles: #D63234                                        // titulos rojos
$horizontal-rule: #959595                     // color para el hr del footer
$input-background: #E5E5E5                // background para los input
$submit-border: #F70017                      // color rojo de borde para botón submit
$submit-background-active:#AC0003
$submit-background-hover: #FA0007
$white-color: #FFF                                   // color blanco