
/* Start Sprite Master CSS */
.btn_facebook,.btn_FB_footer,.btn_google_footer,.btn_google,.btn_twitter_footer,.btn_twitter,.btn_youtube_footer,.btn_youtube,.copy_slide1,.doctora_intro_BN,.doctora_intro,.facebook_contacto,.flecha_der_i,.flecha_der,.flecha_izq_over,.flecha_izq,.goole_contacto,.icono_mano_EligePerfil,.logo_footer,.Logo_menu,.paciente_intro_BN,.paciente_intro,.twitter_contacto,.youtube_contacto,.slide_control_normal,.slide_control_current{display: inline-block;background-repeat: no-repeat;background-image: url('../../assets/img/home/sprite.png');}
.btn_facebook{background-position:0px 0px;width:40px;height:40px;}
.btn_FB_footer{background-position:0px -40px;width:15px;height:31px;}
.btn_google_footer{background-position:0px -71px;width:18px;height:27px;}
.btn_google{background-position:0px -98px;width:40px;height:40px;}
.btn_twitter_footer{background-position:-15px -40px;width:39px;height:28px;}
.btn_twitter{background-position:-40px 0px;width:40px;height:40px;}
.btn_youtube_footer{background-position:-18px -68px;width:31px;height:30px;}
.btn_youtube{background-position:0px -138px;width:40px;height:40px;}
.copy_slide1{background-position:0px -178px;width:472px;height:275px;}
.doctora_intro_BN{background-position:0px -453px;width:747px;height:738px;}
.doctora_intro{background-position:-747px 0px;width:747px;height:738px;}
.facebook_contacto{background-position:-40px -98px;width:72px;height:72px;}
.flecha_der_i{background-position:-54px -40px;width:54px;height:54px;}
.flecha_der{background-position:-108px 0px;width:54px;height:54px;}
.flecha_izq_over{background-position:-112px -54px;width:54px;height:54px;}
.flecha_izq{background-position:-162px 0px;width:54px;height:54px;}
.goole_contacto{background-position:-166px -54px;width:72px;height:72px;}
.icono_mano_EligePerfil{background-position:-112px -126px;width:23px;height:52px;}
.logo_footer{background-position:-472px 0px;width:207px;height:107px;}
.Logo_menu{background-position:-238px -107px;width:135px;height:70px;}
.paciente_intro_BN{background-position:-747px -738px;width:577px;height:738px;}
.paciente_intro{background-position:-1324px -738px;width:577px;height:738px;}
.twitter_contacto{background-position:-373px 0px;width:72px;height:72px;}
.youtube_contacto{background-position:-373px -72px;width:72px;height:72px;}
.slide_control_normal{background-position:-112px -108px;width:12px;height:12px;}
.slide_control_current{background-position:-124px -108px;width:12px;height:12px;}
/* End Sprite Master CSS */
