
/* Start Sprite Master CSS */
.btn_facebook,.btn_FB_footer,.btn_google_footer,.btn_google,.btn_twitter_footer,.btn_twitter,.btn_youtube_footer,.btn_youtube,.copy_slide1,.doctora_intro_BN,.doctora_intro,.facebook_contacto,.flecha_der_i,.flecha_der,.flecha_izq_over,.flecha_izq,.goole_contacto,.icono_mano_EligePerfil,.icono1_modulo,.icono2_modulo,.icono3_modulo,.paciente_intro_BN,.paciente_intro,.twitter_contacto,.youtube_contacto{display: inline-block;background-repeat: no-repeat;background-image: url('../img/home/sprite.png');}
.btn_facebook{background-position:0px 0px;width:31px;height:31px;}
.btn_FB_footer{background-position:-31px 0px;width:15px;height:31px;}
.btn_google_footer{background-position:-46px 0px;width:18px;height:27px;}
.btn_google{background-position:-46px -27px;width:31px;height:31px;}
.btn_twitter_footer{background-position:0px -31px;width:39px;height:28px;}
.btn_twitter{background-position:-39px -58px;width:31px;height:31px;}
.btn_youtube_footer{background-position:0px -59px;width:31px;height:30px;}
.btn_youtube{background-position:-70px -58px;width:31px;height:31px;}
.copy_slide1{background-position:-101px 0px;width:366px;height:213px;}
.doctora_intro_BN{background-position:-467px 0px;width:543px;height:557px;}
.doctora_intro{background-position:0px -557px;width:543px;height:557px;}
.facebook_contacto{background-position:0px -89px;width:60px;height:60px;}
.flecha_der_i{background-position:0px -149px;width:42px;height:42px;}
.flecha_der{background-position:-42px -149px;width:42px;height:42px;}
.flecha_izq_over{background-position:0px -191px;width:42px;height:42px;}
.flecha_izq{background-position:-42px -191px;width:42px;height:42px;}
.goole_contacto{background-position:-84px -213px;width:60px;height:60px;}
.icono_mano_EligePerfil{background-position:-77px 0px;width:17px;height:39px;}
.icono1_modulo{background-position:0px -233px;width:52px;height:51px;}
.icono2_modulo{background-position:-144px -213px;width:52px;height:51px;}
.icono3_modulo{background-position:-196px -213px;width:52px;height:51px;}
.paciente_intro_BN{background-position:-543px -557px;width:415px;height:557px;}
.paciente_intro{background-position:-958px -557px;width:415px;height:557px;}
.twitter_contacto{background-position:-248px -213px;width:60px;height:60px;}
.youtube_contacto{background-position:-144px -264px;width:60px;height:60px;}
/* End Sprite Master CSS */
